
.info{
	background-color:transparent;
	height: 100vh;
	width: calc(100% - 35px);
	position:absolute;
	right: 35px;
	top:0;
	z-index: -1;
	display: block;
	font-family: "Coves";
}



.info-container, .movable{
	background: transparent;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	/*border: 1px solid #000;*/
	justify-content:center;
	padding:0;
	transform: perspective(5990px);
	transform-style: preserve-3d;
	color: inherit;
	/*margin: 100px 500px;
*/}

.info-container{
	display: none;

}

.movable{
	top:0;
	bottom: 0;
}


.main{
	display:flex;
	justify-content: space-around;
	color: inherit;
}


.main h2{
	font-size: 30px;
	line-height: 40px;
	text-align:center;
	color: inherit
}

.content, .image-main{
	width: 400px;
	min-height: 400px;
	max-height: 600px;
	display: flex;
	flex-direction:column;
	justify-content: center;
/*	border: 1px solid #000;*/
	margin: 0 100px;
	color: inherit;
}

.content p{
	color: inherit;
}



.info-container[data="contact"] .image-main{
	background: url('../Exports/tardis.png') 0 0  no-repeat;
	background-size: auto 400px;
}

.info-container[data="about"] .image-main{
	background: url('../Exports/Hexa.png') 0 0  no-repeat;
	background-size: auto 400px;
}

.info-container[data="sponsors"] .image-main{
	background: url('../Exports/death.png') 0 0  no-repeat;
	background-size: auto 400px;
}




.shape{
	position: absolute;	
	top:0;
	left:0;
	z-index: -1;
	width: 150px;
    
}

.info-container[data="contact"] .shape{
	-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

/*	border: 1px solid #000;*/
	background: linear-gradient(rgb(33, 164, 255), rgb(190, 0 , 255))
}
.info-container[data="about"] .shape{
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: linear-gradient(rgb(204, 189, 138), rgb(135, 123, 148))
}
.info-container[data="sponsors"] .shape{
	border-radius: 50%;
	background: linear-gradient(rgb(255, 154, 138), rgb(255, 0, 50))
}




.o33:nth-of-type(7){
	top: 45%;
	left: 7%;
	height: 300px;
	width: 300px;
	transform: translateZ(-100px) skew(30deg);
}

.o33:nth-of-type(6){
	top: 10%;
	left: 85%;
	height: 125px;
	width: 125px;
	transform: rotate(-60deg);
	transform: translateZ(0px) rotate(-50deg);
}

.o33:nth-of-type(5){
	top: 70%;
	left: 85%;
	height: 125px;
	width: 125px;
	transform: translateZ(-50px);
}

.o33:nth-of-type(4){
	top: 80%;
	left: 10%;
	transform: rotate(20deg) rotate(90deg) translateZ(150px);
	height: 150px;
	
}

.o33:nth-of-type(3){
	top: 15%;
	left: 50%;
	height: 150px;
	transform: rotate(240deg) translateZ(150px);
}

.o33:nth-of-type(2){
	top: 80%;
	left: 60%;
	transform: rotate(-10deg) translateZ(-50px);
	height: 75px;
	width: 75px;
	
}

.o33{
	height: 150px;

}

.o33:nth-of-type(1){
	top: 5%;
	left: 5%;
	transform: rotate(180deg) translateZ(-100px);
	height: 75px;
	width: 75px;
}


.slider-container .left-arrow{
	z-index: 1;
	cursor: pointer;
	
	width: 25px;
	height: 25px;
	background: url('../img/left.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top : calc(50vh - 10px);
	margin:5px;
	display: none;
	color: #fff;
}

.info_open{
	display:flex;
}
