* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
#main {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: center;
  transform-style: preserve-3d;
}
@keyframes testing {
  0% {
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  }
  75% {
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
}
#movable {
  display: block;
  position: absolute;
  background: yellow;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /*animation: testing 3s linear infinite;*/
}
.square {
  display: block;
  position: absolute;
  background: black;
  width: 100px;
  height: 100px;
}
.square:nth-of-type(1) {
  top: 190px;
  left: 190px;
  transform: translateZ(200px);
}
.square:nth-of-type(2) {
  top: 140px;
  right: 140px;
  transform: translateZ(50px);
}
.square:nth-of-type(3) {
  bottom: 140px;
  left: 140px;
  transform: translateZ(150px);
}
.square:nth-of-type(4) {
  bottom: 140px;
  right: 140px;
  transform: translateZ(0px);
}
#text {
  position: absolute;
  top: 45%;
  left: 50%;
  font-family: sans-serif;
  transform: translateZ(20px);
  font-size: 70px;
}
#desc {
  position: absolute;
  top: 55%;
  left: 51%;
  font-family: sans-serif;
  transform: translateZ(20px);
  font-size: 20px;
}
