/**{
	border: 1px solid yellow;
}
*/

* {
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #212121;
}


.left-tab{
	position: fixed;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #212121;
	background-image:radial-gradient(yellow,#f06d06 );
	width: 300px;
}

.navbar{
	display: block;
	margin: 20px auto;
	height: 150px;
	width: 200px;
}

.nav1{
	margin: 40px auto 0 auto;
}

.nav2{
	margin: 0 auto 60px auto;
}

.col{
	display: block;
	margin: 10px auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	border-radius: 10px;
	padding: 5px;
	-webkit-animation-duration: 0.5s;
	cursor: pointer;
}

.c1{
	-webkit-animation-delay: 2s;
}
.c2{
	-webkit-animation-delay: 2.5s;
}
.c3{
	-webkit-animation-delay: 3s;
}

.c4{
	-webkit-animation-delay: 3.5s;
}
.c5{
	-webkit-animation-delay: 4s;
}
.c6{
	-webkit-animation-delay: 4.5s;
}

.col {
    letter-spacing: 0;
}

.col:hover,
.col:active {
  letter-spacing: 5px;
}

.col:after,
.col:before {
  backface-visibility: hidden;
  border: 1px solid rgba(0,0,0,0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.col:hover:after,
.col:hover:before {
  backface-visibility: hidden;
  border-color: #000;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.col:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

img{
	max-width: 100%;
	min-height: 100%;

}

.oasisimg{
	height: 150px;
	width: 200px;
	margin-top:20px;
	margin-left: 20px;
}

.mirage{
	font-family: 'Montserrat', sans-serif;
	height: 50px;
	width: 250px;
	font-size: 3.5em;
	text-align: center;
	display: block;
	padding: 10px;
	margin: -20px auto 0 auto;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 1s;
	cursor: pointer;
}

.social{
	display: inline-block;
	margin: 0 auto 60px 60px;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 5s;
}

.media{
	height: 40px;
	width: 40px;
}

.info{
	display: none;
}

.container{
	width: calc(100vw - 300px);
	position: fixed;
	right:0;
	top:0;
	bottom:0;
	
}

.slider-container{
	width:100%;
	background-color: #eee;
	height:100vh;
	overflow-x: hidden;
	
}

.slider{
	height: 100vh;
	display: inline-flex;
	
}

.bar{
	height: 100%;
	width: 300px;
	border: 1px solid #009688;
	display: inline-block;
	position: relative;
}

.button{
	position: absolute;
	bottom: 50px;
	width: 100px;
	height: 100px;
	border: 1px solid #dd2255;
	left: 100px;
}

.left-tab{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left-tab > div{
	//height: 25%;
	//border: 1px solid yellow;
}



